body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.theme-dark {
	--accent-h: 167.10000000000002;
	--accent-s: 71.4%;
	--accent-l: 62.9%;
	/* Background colors */
	--bg_dark2: #1b1e28; /* Adjust based on preference for darkness */
	--bg: #1f222d;
	--bg_highlight: #2e333d; /* Adjust based on preference for contrast */
	--bg_highlight_dark: #292c38; /* Adjust based on preference for contrast */

	/* Text colors */
	--fg: #e4f0fb;
	--fg_dark: #c0c8d3; /* Use a lighter shade of foreground for less dark elements */

	/* Other colors */
	--comment: #89ddff;
	--blue0: #fffac2;
	--cyan: #add7ff;
	--cyan0: #8badcd;
	--magenta: #fcc5e9;
	--orange: #ff9a66;
	--yellow: #deae68;
	--green: #5de4c7;
	--teal: #26bce0;
	--red: #d0679d;
	--red1: #d34a4a;
	--unknown: #ffffff;
}

.theme-dark {
	--color_red_rgb: var(--red);
	--color_red: var(--red);
	--color_purple_rgb: var(--magenta_x);
	--color_purple: var(--magenta);
	--color_green_rgb: var(--green_x);
	--color_green: var(--green);
	--color_cyan_rgb: var(--cyan_x);
	--color_cyan: var(--cyan);
	--color_blue_rgb: var(--blue_x);
	--color_blue: var(--blue);
	--color_yellow_rgb: var(--yellow_x);
	--color_yellow: var(--yellow);
	--color_orange_rgb: var(--orange);
	--color_orange: var(--orange);
	--color_pink_rgb: var(--magenta_x);
	--color_pink: var(--magenta);

	--background-primary: var(--bg);
	--background-primary-alt: var(--bg);
	--background-secondary: var(--bg_dark);
	--background-secondary-alt: var(--bg_dark);

	--background-modifier-border: var(--bg_highlight);
	--background-modifier-border-focus: var(--bg_highlight);
	--background-modifier-border-hover: var(--bg_highlight);
	--background-modifier-form-field: var(--bg_dark);
	--background-modifier-form-field-highlighted: var(--bg_dark);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-success: var(--green);
	--background-modifier-error: var(--red1);
	--background-modifier-error-hover: var(--red);
	--background-modifier-cover: var(--bg_dark);
	--background-modifier-hover: var(--accent-s);
	--background-modifier-message: var(--bg_highlight_x);
	--background-modifier-active-hover: var(--bg);

	--text-normal: var(--fg);
	--text-faint: var(--comment);
	--text-muted: var(--fg_dark);
	--text-error: var(--red);
	--text-accent: var(--magenta);
	--text-accent-hover: var(--cyan);
	--text-error: var(--fg);
	--text-error-hover: var(--fg);
	--text-selection: var(--bg_highlight_dark);
	--text-on-accent: var(--bg);
	--text-highlight-bg: var(--orange);
	--bold-color: var(--cyan);
	--italic-color: var(--cyan);

	--interactive-normal: var(--bg_dark);
	--interactive-hover: var(--bg);
	--interactive-success: var(--green);
	--interactive-accent: hsl(
		var(--accent-h),
		var(--accent-s),
		var(--accent-l)
	);
	--interactive-accent-hover: var(--fg);

	--scrollbar-bg: var(--bg_dark2);
	--scrollbar-thumb-bg: var(--bg_dark);
	--scrollbar-active-thumb-bg: var(--bg_dark);
	--scrollbar-width: 0px;

	--h1-color: var(--cyan);
	--h2-color: var(--cyan0);
	--h3-color: var(--green);
	--h4-color: var(--magenta);
	--h5-color: var(--blue);
	--h6-color: var(--yellow);

	--border-width: 2px;

	--tag-color: var(--magenta);
	--tag-background: var(--magenta_x);
	--tag-color-hover: var(--cyan);
	--tag-background-hover: var(--cyan_x);

	--link-color: var(--fg_dark);
	--link-color-hover: var(--cyan);
	--link-external-color: var(--fg_dark);
	--link-external-color-hover: var(--cyan);

	--checkbox-radius: 4px;
	--checkbox-color: var(--comment);
	--checkbox-color-hover: var(--comment);
	--checkbox-marker-color: var(--cyan0);
	--checkbox-border-color: var(--comment);
	--checkbox-border-color-hover: var(--comment);
	--checklist-done-color: var(--cyan);

	--table-header-background: var(--bg);
	--table-header-background-hover: var(--bg_dark2);
	--table-row-alt-background: var(--bg_dark);
	--table-row-background-hover: var(--bg_dark2);

	--flashing-background: var(--bg_dark);

	--code-normal: var(--fg);
	--code-background: var(--bg_highlight_dark);
	--code-comment: var(--fg_dark);
	--code-function: var(--cyan);
	--code-important: var(--red_x);
	--code-keyword: var(--unknown);
	--code-operator: var(--cyan0);
	--code-property: var(--fg);
	--code-punctuation: var(--cyan0);
	--code-string: var(--green);
	--code-tag: var(--fg_dark);
	--code-value: var(--green);

	--mermaid-note: var(--blue0);
	--mermaid-actor: var(--fg_dark);
	--mermaid-loopline: var(--blue);

	--blockquote-background-color: var(--bg_dark);
	--callout-default: var(--blue);
	--callout-info: var(--blue);
	--callout-summary: var(--cyan);
	--callout-tip: var(--cyan);
	--callout-todo: var(--cyan);
	--callout-bug: var(--red);
	--callout-error: var(--red1);
	--callout-fail: var(--red1);
	--callout-example: var(--magenta);
	--callout-important: var(--green);
	--callout-success: var(--teal);
	--callout-question: var(--yellow);
	--callout-warning: var(--orange);
	--callout-quote: var(--fg_dark_x);

	--icon-color-hover: var(--blue);
	--icon-color-focused: var(--magenta);
	--icon-color-active: var(--green);

	--nav-item-color-hover: var(--bg_dark2);
	--nav-item-background-hover: var(--bg_highlight);
	--nav-item-color-active: var(--green);
	--nav-item-background-active: var(--bg_highlight);
	--nav-file-tag: var(--yellow_x);
	--nav-indentation-guide-color: var(--bg_highlight);

	--indentation-guide-color: var(--comment);
	--indentation-guide-color-active: var(--comment);

	--graph-line: var(--comment);
	--graph-node: var(--fg);
	--graph-node-tag: var(orange);
	--graph-node-attachment: var(--blue);

	--tab-text-color-focused-active: var(--green);
	--tab-text-color-focused-active-current: var(--unknown);

	--modal-border-color: var(--bg_highlight);
	--prompt-border-color: var(--bg_highlight);
	--slider-track-background: var(--bg_highlight);

	--embed-background: var(--bg_highlight);
	--embed-padding: 1.5rem 1.5rem 0.5rem;

	--canvas-color: var(--bg_highlight_x);

	--toggle-thumb-color: var(--bg);
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
